body {
    font-family: 'Merriweather', serif;
}

.banner {
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 50px 140px;


}

.title {
    text-align: center;
}

.title-top {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 177px;
}

.title-pera {
    color: #FFF;
    margin-top: 0;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 177px;
}

.container {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.offer {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.offer-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 48px;
}

.image{
    margin-bottom: 120px;
}